* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../images/pong.png'); /* 적절한 배경 사진 경로 */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 180px 240px;
    border-radius: 10px;
}

.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    height: 50px;
}

header h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-form input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.signup-btn {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
}

.signup-btn:hover {
    background-color: #218838;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

